@import url("./general.css");

body {
  /* revisar "Open Sans" no lo tengo descargado */
  /* font-family: var(--body-font); */
}

a {
  text-decoration: none;
  color: var(--black-color);
}

/* ******************** 
ESTILOS CONTENEDOR
******************** */
.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  /* CSS GRID */
  /* que tenga 2 columnas tamaños 90 y auto */
  /* que tenga 2 filas tamaños 60 y auto */
  grid-template-columns: 35px auto;
  grid-template-rows: 60px auto;
  /* mediante areas */
  /* header ocupe las 2 columnas */
  grid-template-areas:
    "header header"
    "menu contenido";
  transition: all 0.3s ease;
}

/* cuando contenedor tenga la clase active aparezca desplegado el navegador*/
.contenedor.active {
  grid-template-columns: 250px auto;
}

/* ******************** 
ESTILOS HEADER
******************** */
.header {
  /* indicar a la plantilla grid que este es el header */
  grid-area: header;
  padding: 0 20px;
  /* defino 3 columnas dentro del Header */
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  /* grid-gap: 20px; */
  /* controlar como se comporta cada elemento al ir haciendo cada vez mas pequeño el ancho de la pantalla */
  grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {
  /* indicar a la plantilla grid que este es el logo */
  grid-area: logo;
  display: flex;
  align-items: center;
}

.header .contenedor-logo .boton-menu {
  border: none;
  padding: 10px;
  background: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.header .contenedor-logo .boton-menu:hover {
  background: var(--gris-suave);
}

.header .contenedor-logo .boton-menu.active {
  color: var(--azul);
}

.header .contenedor-logo .logo .ri-google-play-fill {
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 8px;
  position: relative;
  top: -4px;
  margin-right: 4px;
}

.header .contenedor-logo .logo {
  font-size: 20px;
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
}

.header .contenedor-logo .logo-span {
  position: absolute;
  padding-top: 15px;
  color: var(--azul);
}

.header .barra-busqueda {
  /* indicar a la plantilla grid que este es la busqueda */
  grid-area: busqueda;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--gris-medio); */
  color: var(--gris-medio);
}

.header .barra-busqueda span {
  margin-left: 10px;
  color: var(--azul);
  /* font-weight: bold; */
  font-size: var(--big-font-size);
}

.header .barra-busqueda .avatar {
  display: inline;
  width: 50px;
  height: 50px;
  /*  position: relative; */
  right: 150px;
}

.header .barra-busqueda .avatar img {
  display: inline;
  vertical-align: top;
  width: 100%;
  border-radius: 100px;
}

.header .botones-usuario {
  /* indicar a la plantilla grid que este es los iconos */
  grid-area: iconos;
  display: flex;
  align-items: center;
}

.header .botones-usuario span:hover {
  background: var(--gris-suave);
}

.header .botones-usuario .avatar {
  width: 50px;
  height: 50px;
  position: relative;
  right: 100px;
}

.header .botones-usuario .avatar img {
  vertical-align: top;
  width: 100%;
  border-radius: 100px;
}

.header .botones-usuario span {
  background: none;
  border: none;
  /* width: 40px; 
  height: 40px;*/
  font-size: 18px;
  margin-top: -20px;
  border-radius: 1px;
  color: var(--azul);
  margin-right: 20px;
  cursor: pointer;
}

.header .button-cerrar {
  position: relative;
  /* margin-top: 25px; */
  /* padding-bottom: 10px; */

  /* height: 20px; */
  /* padding-top: -10px; */
  /* width: 100px; */
  /* margin-right: 20px; */
}

/* ******************** 
ESTILOS MENU LATERAL
******************** */
.menu-lateral {
  /* indicar a la plantilla grid que este es el menu */
  grid-area: menu;
  position: relative;
  background: var(--gris-medio);
  /* que el elemento sobrante se oculte */
  overflow: hidden;
  /*visibility: hidden;*/
}

.menu-lateral a {
  display: block;
  padding: 15px 10px;
  color: var(--gris-suave);
  min-width: 800px;
}

.menu-lateral a:hover {
  background: var(--gris-fuerte);
}

.menu-lateral a.active {
  background: var(--gris-suave);
  font-weight: bold;
  color: var(--negro);
}

.menu-lateral .icono {
  color: var(--gris-suave);
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid var(--gris-suave);
}

.menu-lateral a.active {
  color: var(--azul);
}

.menu-lateral a.active .icono {
  color: var(--azul);
}

/* ******************** 
ESTILOS MAIN
******************** */
.main {
  /* indicar a la plantilla grid que este es el contenido */
  grid-area: contenido;
  background-color: var(--gris-suave);
}

/* ******************** 
MEDIAQUERIES
******************** */
/* *** ANCHO PANTALLA MAX 1200px *** */
@media screen and (max-width: 1200px) {
  /* el input pasa a ser el 70% */
  .header .barra-busqueda input {
    min-width: 70%;
  }
}

/* *** ANCHO PANTALLA MAX 992px *** */
@media screen and (max-width: 992px) {
}

/* *** ANCHO PANTALLA MAX 768px *** */
@media screen and (max-width: 768px) {
  /* hago que el tamaño altura de las filas sea auto */
  .contenedor {
    grid-template-rows: 110px auto;
  }

  .header {
    height: 100px;
    /* padding: 20px; */
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-template-areas:
      "logo iconos"
      "busqueda busqueda";
  }

  .header .contenedor-logo .logo span {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .main {
    margin-left: -250px;
  }
}

@media (min-width: 991.8px) {
  .main {
    margin-left: -250px;
  }
}

/* *** ANCHO PANTALLA MAX 576px *** */
@media screen and (max-width: 576px) {
  /* oculutlo el span del logotipo (es el texto) */
  /*   .header .contenedor-logo .logo-span {
    display: none;
  } */
}
